
<div class="container">
    <div class="row" >
        <div class="col-md-4 subject-body" ng-repeat="subject in vm.subject">
            <a  ng-click="vm.showQuestion(subject.name)" ui-sref="#">
                <div class="row subject-heading" >{{subject.name}}</div>
                <div class="row image-div {{subject.name}}" id="img-id">
                </div>
                <div class="row subject-footer" >
                    <label>total Questions : {{subject.subject.length}}</label>
                </div>
            </a>
        </div>
    </div>

</div>
