.header{
  background-image: url("data/images/Page background.png");
  background-repeat:no-repeat;
  background-size:cover;
  padding-left: 10px;
}
.body-content{
  min-height: 550px;

}
.footer{
  text-align: right;
  padding:10px;
  background-image: url("data/images/Page background.png");
  background-repeat:no-repeat;
  background-size:cover;
}
h1{
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  font: 30px 'ChunkFiveRegular';
}
.subject-body {

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  max-width: 370px;

}
.image-div{

  height: 150px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 86%;
  background-size: 100%;
  margin: 20px;
  height: 150px;
}
.Technology{
  background-image: url("data/images/network-admin.jpg");

}
.Army{
  background-image: url("data/images/army-login-3.jpg");

}
.Agriculture{
  background-image: url("data/images/agric-irrigation.jpg");
}
.Science{
  background-image: url("data/images/IMG_9331.jpg");
}
.India{
  background-image: url("data/images/GatewayofIndia.jpg");
}
.Navy{
  background-image: url("data/images/dia-de-la-marina-dia-de-la-marina-uno-de-junio20130601.jpg");
}
.subject-heading{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.subject-footer{
  padding-left: 10px;
}
.question-body{
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.topic-heading{
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  color:#DAA520;
  font-size: 25px;
  font-weight: bold;
}
.question-p{
  color: red;
}
.answer-desc{
  color: green;
}
.sub-heading{
  color:#DAA520;
}
.key-people-hover:hover {
  border: 1px solid #1affff;
  box-shadow: 1px 1px 10px 7px #99ffff;
 /* padding: 8px;*/
}
.key-people-hover {
  border: 1px solid transparent;
  border-radius: 3px;

}
.operation-div{
  margin: 20px;
  text-align: right;
}
.vertical-align-center {
  /* To center vertically */
  vertical-align: middle;
}
.center-modal {
  position: fixed;
  top: 10%;
  left: 18.5%;
  z-index: 1050;
  width: 80%;
  margin-left: -10%;
}


